
<!doctype html>
<html lang="en">
  <%- include('../../partials/header') %>
<body>

    <%- include('../../partials/navigation') %>

    <div class="row m-0">
      <div class="col col-lg-2 col-12 col-sm-12"></div>
    
      <div class="col col-lg-8 col-12 col-sm-12 container-sm p-2 blog">
                  
       <div class="py-3">

        <h3>Scaling Topics</h3>
        <div class="fontfamilypoppins pt-2">
          <ul>
            
            <li>
              <a href="scaling/messagequeue"  style="color: black;">Message Queue</a>
            </li>


          </ul>
        </div>

       </div>
        
        
      </div>
    
      <div class="col col-lg-2 col-12 col-sm-12"></div>
    </div>

    
  <%- include('../../partials/footer') %>
</body>
</html>

<!-- End of .container -->

