
<!doctype html>
<html lang="en">
  <%- include('./partials/header') %>
<body>

    <%- include('./partials/navigation') %>

  <div class="row m-0">
    <div class="col col-lg-2 col-12 col-sm-12"></div>
  
    <div class="col col-lg-8 col-12 col-sm-12 container-sm p-2 blog">
                
       <h4> 404 Not Found</h4>
    </div>
  
    <div class="col col-lg-2 col-12 col-sm-12"></div>
  </div>

  <%- include('./partials/footer') %>
  </body>
</html>
