/* You can add global styles to this file, and also import other style files */

body{
  height: 100%;
  background-color: rgb(255, 254, 254);
  line-height: 1.714285714;
}


@media screen and (min-width: 700px){
  .blog p{
    font-size: 18px;
  }
}

@media screen and (max-width: 500px){
  .blog p{
    font-size: 14px;
  }
}

@media screen and (max-width: 700px){

  .blog p{
    font-size: 16px;
  }
}

h3, h4, h5, h6{
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

h3{
  font-weight: 500;
}

p, li{
  font-family: 'Poppins', sans-serif;
}
