
<nav class="navbar navbar-expand-lg bg-primary navbar-dark p-2 header">
    <div class="container-fluid d-flex mainnav">
  
      <div class="minititlebar">
        <div>
          <a class="navbar-brand brand" href="#" style="font-family: Georgia, serif;">
            <img src="favicon.ico" width="40" height="40"/>
            System DEsign
          </a>
        </div>
        <div class="emptydiv"></div>
        <div class="hamburgermenu">
          <button class="navbar-toggler" type="button" onclick="showMenu()" >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
  
      <div class="emptydiv"></div>
  
      <div class="mynav">
        <ul class="navlinks" id="navlinkid">
          <!-- <li>
            <a class="nav-link btn" href="#">
            DSA
            </a>
          </li> -->

          <li class="navitem" onclick="openDropDown(this)">
            <a class="nav-link dropdowntoggle" id="navbarDropdown" role="button" aria-haspopup="true">
              System Design 
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </a>
           
            <div class="dropdownmenu bg-primary" aria-labelledby="navbarDropdown">
              <ul class="navsublinks">
                <li class="navitem">
                  <a class="dropdownitem" href="caching" class="btn" aria-current="page" >Cache</a>
                </li>
                <li class="navitem">
                  <a class="dropdownitem" href="webservices" class="btn" >Web Services</a>
                </li>
                <li class="navitem">
                  <a class="dropdownitem" href="scaling" class="btn" >Scaling</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="navitem" onclick="openDropDown(this)">
            <a class="nav-link dropdowntoggle" id="navbarDropdown" role="button" aria-haspopup="true">
              DSA
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </a>
            <div class="dropdownmenu bg-primary" aria-labelledby="navbarDropdown">
              <ul class="navsublinks">
                <li class="navitem">
                  <a class="dropdownitem" href="caching" class="btn" aria-current="page" >C++</a>
                </li>
                <li class="navitem">
                  <a class="dropdownitem" href="webservices" class="btn" >Data Structure</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="navitem">
            <a class="nav-link dropdowntoggle" id="navbarDropdown" role="button" aria-haspopup="true">
              About
            </a>
          
          </li>
      </div>
  
    </div>
  </nav>