
<nav class="navbar navbar-expand-lg bg-primary navbar-dark p-3 header">
    <div class="container-fluid d-flex mainnav">
  
      <div class="minititlebar">
        <div>
          <a class="navbar-brand brand" href="#" style="font-family: Georgia, serif;">
            <img src="../assets/SDE.png" width="40" height="40"/>
            System DEsign
          </a>
        </div>
        <div class="emptydiv"></div>
        <div class="hamburgermenu">
          <button class="navbar-toggler" type="button" onclick="showMenu()" >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
  
      <div class="emptydiv"></div>
  
      <div class="navlinks" id="navlinkid">
        <a href="caching" class="btn" aria-current="page" href="#">Cache</a>
        <a href="webservices" class="btn" href="#">Web Services</a>
        <a href="scaling" class="btn" href="#">Scaling</a>
      </div>
  
    </div>
  </nav>