
<div class="d-flex py-2">
    <a href=<%= previousLink %> type="button" class="btn btn-primary" style="width:90px"> Previous</a>
    <div style="flex: 1 0;"></div>
    <a href=<%= nextLink %> type="button"  class="btn btn-primary" style="width:90px">
        Next
    </a>
</div>

<!-- 
    <img src="../assets/rightdoublearrow.png" width="35px" height="35px">
.prevnext{
    width:90px;
    align-items:center;
    justify-content: center;
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: 0 0 5px #575757;
  }
  
  .prevnext:hover{
    background-color: rgb(245, 242, 242);
    border: 2px black solid;
    box-shadow: 0 0 10px #575757;
  } -->