<div id="sidenavforpage" class="p-2">
    <h5>Outline</h5>
    <ul>
        <% blogdata.forEach(function(navdata) { %>
            <li class="mt-2"> 
                <a class="rounded" href=<%= navdata.tagId %> ><%= navdata.data %></a>
            </li>
          <% }); %>
        
    </ul>
  </div>